
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

<div class="container">
    <table class="table">
        <thead class="">
            <tr>
                <th>
                    Adlar
                </th>
                <th>
                    Soyadlar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Seda
                </td>
                <td>
                    Engin
                </td>
            </tr>
            <tr>
                <td>
                    Dilnur
                </td>
                <td>
                    Engin
                </td>
            </tr>
            <tr>
                <td>
                    Dilnur Seda
                </td>
                <td>
                    Engin
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <br />
</div>
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Adlar
                </th>
                <th>
                    Soyadlar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Seda
                </td>
                <td>
                    Engin
                </td>
            </tr>
            <tr>
                <td>
                    Dilnur
                </td>
                <td>
                    Engin
                </td>
            </tr>
            <tr>
                <td>
                    Dilnur Seda
                </td>
                <td>
                    Engin
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <br />
</div>
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Adlar
                </th>
                <th>
                    Soyadlar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <td>
                    Seda
                </td>
                <td>
                    Engin
                </td>
            </tr>
            <tr class="table-danger">
                <td>
                    Dilnur
                </td>
                <td>
                    Engin
                </td>
            </tr>
            <tr class="table-primary">
                <td>
                    Dilnur Seda
                </td>
                <td>
                    Engin
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <br />
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Adlar
                    </th>
                    <th>
                        Soyadlar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>
                        Seda
                    </td>
                    <td>
                        Engin
                    </td>
                </tr>
                <tr class="table-danger">
                    <td>
                        Dilnur
                    </td>
                    <td>
                        Engin
                    </td>
                </tr>
                <tr class="table-primary">
                    <td>
                        Dilnur Seda
                    </td>
                    <td>
                        Engin
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>