<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h2>Bootstrap 4</h2>
            <br />
        </div>
        
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
