
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

<ul>
    <li>
        Çay
        <ul>
            <li>
                Yeşil Çay
            </li>
            <li>
                Siyah Çay
            </li>
        </ul>
    </li>
    <li>
        Süt
    </li>
    <li>
        Kahve
    </li>
</ul>
<ul class="list-unstyled">
    <li>
        Çay
        <ul class="list-unstyled">
            <li>
                Yeşil Çay
            </li>
            <li>
                Siyah Çay
            </li>
        </ul>
    </li>
    <li>
        Süt
    </li>
    <li>
        Kahve
    </li>
</ul>

<ul class="list-inline">
    <li class="list-inline-item">
        Çay        
    </li>
    <li class="list-inline-item">
        Süt
    </li>
    <li class="list-inline-item">
        Kahve
    </li>
</ul>