
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Card Index</h2>

<div class="col-md-5">
    <div class="card">
        <div class="card-header">
            body
        </div>
        <div class="card-body">
            body
        </div>
        <div class="card-footer">
            body
        </div>
    </div>
    <div>
        <br />
    </div>
    <div class="card">
        <div class="card-header">
            header
        </div>
        <div class="card-body">
            <img class="card-img-top" src="~/images/imageboot.jpg" />
            <h2 class="card-title">Başlık</h2>
            <p class="card-text">Text</p>
            <a class="card-link">Link</a>
        </div>
        <div class="card-footer">
            footer
        </div>
    </div>
</div>