
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

<div class="progress">
    <div class="progress-bar bg-danger progress-bar-animated progress-bar-striped" style="width:30%;height:30px"></div>
    <div class="progress-bar bg-warning progress-bar-animated progress-bar-striped" style="width:50%;height:30px"></div>
    <div class="progress-bar bg-success progress-bar-animated progress-bar-striped" style="width:60%;height:30px"></div>
</div>
