
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

<div class="container">
    <button class="btn btn-danger">Sil</button>
    <button class="btn btn-warning">Dikkat</button>
    <button class="btn btn-success">Kaydet</button>
</div>
<div>
    <br />
</div>
<div class="container">
    <button class="btn btn-outline-danger">Sil</button>
    <button class="btn btn-outline-warning">Dikkat</button>
    <button class="btn btn-outline-success">Kaydet</button>
</div>
<div>
    <br />
</div>
<div class="container">
    <a href="#" class="btn btn-secondary">Link</a>
</div>
<div>
    <br />
</div>
<div class="container">
    <button class="btn btn-outline-danger btn-lg">Sil</button>
    <button class="btn btn-outline-warning btn-sm">Dikkat</button>
    <button class="btn btn-outline-success">Kaydet</button>

    <hr />

    <input type="submit" class="btn-block btn btn-dark" value="çalıştır" />
</div>
<div>
    <br />
</div>
<div class="container">
    <div class="btn-group-vertical">
        <button class="btn btn-danger">Sil</button>
        <button class="btn btn-warning">Dikkat</button>
        <button class="btn btn-success">Kaydet</button>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-primary">AAA</button>
        <button type="button" class="btn btn-primary">BBB</button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">CCC</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">C1</a>
                <a class="dropdown-item" href="#">C2</a>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">AAA</button>
        <button type="button" class="btn btn-secondary dropdown-toggle-split" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">A1</a>
            <a class="dropdown-item" href="#">A2</a>
        </div>
    </div> 
</div>