
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

<div class="container">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#"> Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Link 3</a>
        </li>
    </ul>
    <h2></h2>

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="#"> Link 1</a>
            <a class="nav-link" href="#"> Link 2</a>
            <a class="nav-link" href="#"> Link 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Link 1</a>
            <a class="nav-link" href="#"> Link 2</a>
            <a class="nav-link" href="#"> Link 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Link 1</a>
            <a class="nav-link" href="#"> Link 2</a>
            <a class="nav-link" href="#"> Link 3</a>
        </li>
    </ul>
</div>