
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>
<div class="container">
    <h1>
        böyle oluyor h1: <span class="badge badge-danger">Yeni</span>
    </h1>
    <hr />
    <h6>
        böyle oluyor h6 pill: <span class="badge badge-pill badge-success">Yeni</span>
    </h6>
    <hr />
    <span class="badge badge-secondary">Yeni</span>
    <hr />

    <button type="button" class="btn btn-primary"> 
        Mesajlar<span class="badge badge-secondary">5</span>
    </button>
</div>
